{% extends "mover/index.html" %}
{% load static %}
{% block title %}
        <title>Accept Request</title>
{% endblock title %}

{% block style %}
    <style>
        div.ride-card{
            display: flex;
            flex-direction: row;
            background-color: #E0F0EE;
            border-radius: 10px;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 6px;
        }
        div.ride-left{
            display: flex;
            flex-direction: row;
        }
        div.ride-image{
            margin-right: 10px;
        }
        div.ride-details p {
            line-height: 1em;
            font-size: 12px;
        }
        div.ride-right p {
            line-height: 1em;
            font-size: 12px;
        }
        div.main{
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock style %}


{% block content %}
<div class="container m-4">
    <div class="row">
        <div class="col-lg-6 col-sm-12 mb-sm-2 mover-card">
            <h3 style="margin-bottom: 1.5em; font-weight: bold;">Accept a request</h3>
            <div class="ride-card">
                <div class="ride-left">
                    <div class="ride-image">
                        <img src="{% static 'images/car.svg' %}" alt="" width="50px">
                    </div>
                    <div class="ride-details">
                        <p><b>2019 Ford Ranger</b></p>
                        <p>Able to Fit: 1 large item</p>
                    </div>
                </div>
                <div class="ride-right">
                    <p><b>$20/Hour</b></p>
                    <p>26 minutes</p>
                </div>
            </div>
            <div class="ride-card">
                <div class="ride-left">
                    <div class="ride-image">
                        <img src="{% static 'images/car.svg' %}" alt="" width="50px">
                    </div>
                    <div class="ride-details">
                        <p><b>2019 Ford Ranger</b></p>
                        <p>Able to Fit: 1 large item</p>
                    </div>
                </div>
                <div class="ride-right">
                    <p><b>$20/Hour</b></p>
                    <p>26 minutes</p>
                </div>
            </div>
            <div class="ride-card">
                <div class="ride-left">
                    <div class="ride-image">
                        <img src="{% static 'images/car.svg' %}" alt="" width="50px">
                    </div>
                    <div class="ride-details">
                        <p><b>2019 Ford Ranger</b></p>
                        <p>Able to Fit: 1 large item</p>
                    </div>
                </div>
                <div class="ride-right">
                    <p><b>$20/Hour</b></p>
                    <p>26 minutes</p>
                </div>
            </div>
            <div class="ride-card">
                <div class="ride-left">
                    <div class="ride-image">
                        <img src="{% static 'images/car.svg' %}" alt="" width="50px">
                    </div>
                    <div class="ride-details">
                        <p><b>2019 Ford Ranger</b></p>
                        <p>Able to Fit: 1 large item</p>
                    </div>
                </div>
                <div class="ride-right">
                    <p><b>$20/Hour</b></p>
                    <p>26 minutes</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" >
            <div class="main">
                <div id="myMap" style="position:relative;width:100%;height:100%;"></div>
            </div>
        </div>
      </div>
</div>

{% endblock content %}

{% block script %}
<script type='text/javascript'>
    var map;
    var directionsManager;
    
    function GetMap()
    
    {
        console.log("This now true")
        isLoading = true;

        map = new Microsoft.Maps.Map('#myMap', {});
        
        console.log(map)

        //Load the directions module.
        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
            //Create an instance of the directions manager.
            directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);

            //Create waypoints to route between.
            var seattleWaypoint = new Microsoft.Maps.Directions.Waypoint({ address: "California" });
            directionsManager.addWaypoint(seattleWaypoint);
            
            var workWaypoint = new Microsoft.Maps.Directions.Waypoint({ address: "New York" });
            directionsManager.addWaypoint(workWaypoint);
            
            //Specify the element in which the itinerary will be rendered.
            directionsManager.setRenderOptions({ itineraryContainer: '#directionsItinerary' });

            //Calculate directions.
            directionsManager.calculateDirections();
        });
    }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Aq8PnSeraxCE7_Otau4MHHbOBp9ZG4htMjXoXto8n8xtt1iyHlG2SZDigxz27riR' async defer></script>

{% endblock script %}
