{% extends "mover/index.html" %}
{% load static %}
{% block title %}
    <style>
        input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}
    </style>
{% endblock title %}

{% block content %}
    <input type="text" name="search" class="mover-input-default" placeholder="Enter Search"/>
    <input type="email" name="search" class="mover-input-valid" placeholder="Enter Something"/>
    <input type="email" name="search" class="mover-input-error" placeholder="Enter Something"/>
    <textarea name="text" rows="5" id="" placeholder="Enter text" class="form-control mover-textarea-default">
    </textarea>
    <label for="">Username</label>
    <button>Register</button>
    <button class="btn color-primary rounded-lg">Register</button>

    <div class="mover-card new-card mt-2" id="m-card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quae in, ratione enim quibusdam magni veritatis maiores nostrum 
        sit beatae omnis eaque ipsam sequi iusto. Rem voluptates quisquam itaque pariatur quod?
        <p>Some content in here...</p>
    </div>
    <div class="my-2">
    </div>
    <div>
    </div>
    <input id="basicExample" type="text" class="time" />
    <div class="mover-input-file">
        <input type="file" name="" id="">
    </div>
    <form>
        <label for="fileUpload">Upload file</label>
        <input type="file" id="fileUpload">
    </form>

{% endblock content %}

{% block script %}
    <script>
        
    </script>
{% endblock script %}
