<div>
    <div class="mover-onboard-left">
        <p>1. Verify Phone</p>
        <p>2. User Profile</p>
        <p>3. Driver's License</p>
        <p>4. Vehicle Information</p>
        <p>5. Application Status</p>
    </div>
    <div class="mover-onboard-right">
        <p>Step 3: Driver's License</p>
        <div>
            <div>
                <label for="">Driver's License #</label> <br />
                <input type="text" name="driverid" id="" required class="is-valid">
            </div>
            <div>
                <label for="">Expiration Date</label> <br>
                <div>
                    <select id="monthSelect"></select>
                    <select id="daySelect"></select>
                    <select id="yearSelect"></select>
                </div>
            </div>
        </div>
    </div>
</div>