{% extends "mover/_base.html" %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}
<div>
    <div>
        <p>Need help moving large items? We've got you covered.</p>
        <div>
            <button class="mover-btn-sm">FIND A MOVER</button>
            <button class="mover-btn-sm color-primary-50">BECOME A MOVER</button>
        </div>
    </div>
    <div>
        <img src="{% static 'images/truck.png' %}" alt="Truck Image">
    </div>
</div>
<div>
    <div>
        <div>
            <img src="{% static 'images/place.png' %}" alt="">
            <p>Find nearby drivers</p>
            <p> You can effortlessly search for nearby drivers,
                ensuring prompt and reliable service for your moving needs.
            </p>
        </div>
        <div>
            <img src="{% static 'images/HandsCash.png' %}" alt="">
            <p>Transparent pricing</p>
            <p>You'll know exactly how much you're paying for your moving service before confirming your booking.
                No surprises with unexpected fees!
            </p>
        </div>
        <div>
            <img src="{% static 'images/Table.png' %}" alt="">
            <p>Tailored options</p>
            <p> You can choose a vehicle based on the size of your item and
                select the specific loading/unloading services you require.
            </p>
        </div>
    </div>
</div>
<div>
    <h1>How it Works</h1>
    <p>Moving made simple - just three easy steps!</p>
    <div>
        <div>
            <div>
                <p>Set Your Journey</p>
                <p>Enter your pick-up and drop-off locations to kick things off.
                    You can choose between hourly or fixed pricing, and let
                    us know if you need help with loading, unloading, or both.
                    We're here to make it easy for you!
                </p>
            </div>
            <div>
                <p>Tell us about your items</p>
                <p>How many large items do you need to move? Any special details,
                    like stairs or specific handling instructions?
                    Let us know, and we'll make sure everything goes smoothly.
                </p>
            </div>
            <div>
                <p>Set Your Journey</p>
                <p>
                    Once we process your request, you'll see a list of verified, reliable drivers.
                    Compare prices, distances, and even take a peek at their car.
                    Choose the driver that feels just right for you, and you'll be on your way in no time.
                </p>
            </div>
            <div>
                <button>FIND A MOVER</button>
            </div>
        </div>
        <div>
            <img src="{% static 'images/iphone1.png' %}" alt="">
        </div>
    </div>
</div>
<!-- Footer page -->

<div>
    <div>
        <p>Mover</p>
        <p>A webapp connecting users with local drivers for quick and secure over-sized item transport</p>
    </div>
    <div>
        <button>LEARN MORE</button>
    </div>
</div>

{% endblock content %}