{% extends "mover/map_base.html" %}

{% block title %}
        <title>Mover Details</title>
{% endblock title %}

{% block style %}
<style>
    div.mover-details-header > h3{
        font-weight: bold;
        margin-bottom: 1em;
    }
    div.mover-driver-note p{
        margin-top: 1.5em;
    }
</style>
{% endblock style %}

{% block cardRight %}
<div class="mover-details-header">
    <h3>Before you get moving'</h3>
    <p class="small-text">What item(s) are you moving? Select all that apply.</p>
</div>
<form action="">
    <div class="mover-items-list">
        <span>Stove</span>
        <span>Sink</span>
        <span>Dresser</span>
        <span>Table</span>
        <span>Insert</span>
    </div>
    <div class="mover-items-upload">
        <p class="small-text" style="margin-top: 1em;">Upload a photo of item(s)</p>
        <input type="file" name="" id="">
    </div>
    <div class="mover-driver-note">
        <p class="small-text">Note to driver</p>
        <input type="text" name="" id="" placeholder="E.g. I'm at the main entrance of store.">
    </div>
    <button class="w-100" style="margin-top: 1em;">Continue</button>
</form>

{% endblock cardRight %}