{% extends "mover/map_base.html" %}

{% block title %}
<title>Request Mover</title>
{% endblock title %}

{% block cardRight %}
<div>
    <form enctype="multipart/form-data" method="post" id="booking-form" class="d-flex flex-column gap-3">
        {% csrf_token %}
        {{ form.errors }}
        <div>
            <label for="">Pick Location</label>
            <!-- <input type="text" placeholder="Enter Location"> -->
            {{ form.pickup_location }}
            <ul id="autocomplete-list"></ul>
        </div>
        <div>
            <label for="">Drop Off Location</label>
            <!-- <input type="text" placeholder="Enter Location"> -->
            {{ form.dropoff_location }}
        </div>
        <div>
            <label for="">Email</label>
            <!-- <input type="text" placeholder="Enter Location"> -->
            {{ form.email }}
        </div>
        <div>
            <label for="">Select Rate Type</label>
            <div>
                {{ form.rate_type }}
            </div>
        </div>
        <div class="">
            <label for="">Select Service Type</label>
            <div>
                {{ form.service_type }}
            </div>
        </div>
        <button type="submit" class="w-100" id="bookingSubmit">Submit</button>
        <span id="tracking" value="{{ tracking_id }}"></span>
    </form>
</div>

{% endblock cardRight %}


{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        let userLatitude;
        let userLongitude;
        const apiKey = "Aq8PnSeraxCE7_Otau4MHHbOBp9ZG4htMjXoXto8n8xtt1iyHlG2SZDigxz27riR"

        // Get the inputs
        const pickupLocationInput = document.getElementById('id_pickup_location');
        const autocompleteList = document.getElementById('autocomplete-list');


        //  Test geolocation --------------------------------

        const getUserLocation = async () => {
            return new Promise((resolve, reject) => {
                if ("geolocation" in navigator) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            const lat = position.coords.latitude;
                            const long = position.coords.longitude;
                            resolve({ lat, long });
                        },
                        (error) => {
                            switch (error.code) {
                                case error.PERMISSION_DENIED:
                                    reject("User denied the request for Geolocation.");
                                    break;
                                case error.POSITION_UNAVAILABLE:
                                    reject("Location information is unavailable.");
                                    break;
                                case error.TIMEOUT:
                                    reject("The request to get user location timed out.");
                                    break;
                                case error.UNKNOWN_ERROR:
                                    reject("An unknown error occurred.");
                                    break;
                            }
                        }
                    );
                } else {
                    reject("Geolocation is not supported in this browser.");
                }
            });
        }

        // End ------------------------------------

        // Get request ----------------------------------------
        const getBingMapsAutosuggest = async (query, userLocation, apiKey) => {
            const baseUrl = 'http://dev.virtualearth.net/REST/v1/Autosuggest';

            try {
                const response = await axios.get(baseUrl, {
                    params: {
                        query: query,
                        userLocation: userLocation,
                        includeEntityTypes: "Address,Place",
                        maxResults: 5,
                        key: apiKey,
                    },
                });

                if (response.status === 200) {
                    const data = response.data;
                    if (data.resourceSets.length > 0) {
                        // Return a list of address objects
                        return data.resourceSets[0].resources[0].value;
                    } else {
                        return [];
                    }
                } else {
                    throw new Error(`Request failed with status ${response.status}`);
                }
            } catch (error) {
                console.error('Error fetching data:', error);
                throw error;
            }
        };

        // End -----------------------------

        // -------------------------------- Object Data

        const data = [
            {
                "__type": "Place",
                "address": {
                    "countryRegion": "United States",
                    "locality": "Las Vegas",
                    "adminDistrict": "Nevada",
                    "adminDistrict2": "Clark County",
                    "countryRegionIso2": "US",
                    "formattedAddress": "Las Vegas, Nevada"
                }
            },
            {
                "__type": "Place",
                "address": {
                    "countryRegion": "United States",
                    "locality": "Las Vegas",
                    "adminDistrict": "New Mexico",
                    "adminDistrict2": "San Miguel County",
                    "countryRegionIso2": "US",
                    "formattedAddress": "Las Vegas, New Mexico"
                }
            },
            {
                "__type": "Place",
                "address": {
                    "countryRegion": "United States",
                    "adminDistrict": "Nevada",
                    "countryRegionIso2": "US",
                    "formattedAddress": "Nevada"
                },
                "name": "Las Vegas Motor Speedway"
            },
        ]

        // Add an event listener to detect changes in the input field
        pickupLocationInput.addEventListener('input', async () => {
            let { lat, long } = await getUserLocation();
            console.log(`Location: ${lat},${long}`);
            let cords = `${lat},${long}`;

            const searchText = pickupLocationInput.value;
            // Clear the autocomplete list
            autocompleteList.innerHTML = '';
            // const res = await getBingMapsAutosuggest(searchText, cords, apiKey);
            // console.log(res);

            if (searchText.split(" ").length >= 2) { // Use `.length` to check the number of words
                // Add a 2-second delay
                setTimeout(async () => {
                    console.log("4 secs reached!!");
                    // Make search request after the delay
                    data.map((suggested, index) => {
                        console.log(suggested.address.formattedAddress)

                        if (index <= 3) {
                            const option = document.createElement('li');
                            const suggestedAddr = suggested.address.formattedAddress;
                            console.log("The address", suggestedAddr);
                            option.textContent = suggestedAddr;
                            autocompleteList.appendChild(option);
                            // Add a click event listener to populate the input field when an option is clicked
                            option.addEventListener('click', (e) => {
                                pickupLocationInput.value = option.textContent;
                                autocompleteList.innerHTML = ''; // Clear the autocomplete list
                            });

                        }
                    });
                }, 4000);
            }
            else {
                autocompleteList.innerHTML = '';
            }
        });

        // Handle edge cases such as pressing the Enter key to select the first suggestion

        pickupLocationInput.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                const firstOption = autocompleteList.querySelector('li');
                if (firstOption) {
                    pickupLocationInput.value = firstOption.textContent;
                    autocompleteList.innerHTML = '';
                    // event.preventDefault(); // Prevent form submission if you're using a form
                }
            }
        });

        // Close the autocomplete list when clicking outside
        document.addEventListener('click', function (event) {
            if (event.target !== pickupLocationInput && event.target !== autocompleteList) {
                autocompleteList.innerHTML = '';
            }
        });
    });


</script>
{% endblock script %}