<div>
    <div>
        <label for="">Pick Location</label>
        <input type="text" placeholder="Enter Location">
    </div>
    <div>
        <label for="">Drop Off Location</label>
        <input type="text" placeholder="Enter Location">
    </div>
    <div>
        <label for="">Vehicle Type</label>
        <div class="select-wrapper">
            <select name="select-car" id="" class="mover-input-default">
                <option value="mini van">Mini Van</option>
                <option value="big van">Big Van</option>
                <option value="mini van">Luxury Van</option>
            </select>
        </div>
    </div>
    <div>
        <label for="">Select Rate Type</label>
        <div>
            <button>Hourly</button>
            <button>Fixed</button>
        </div>
    </div>
    <div class="">
        <label for="">Select Service Type</label>
        <div class="btn-group mover-btn-group" role="group" aria-label="Basic radio toggle button group color-primary-50">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn" for="btnradio1" style="border-radius: 100px 0 0 100px;" id="r-label">Unload</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn" for="btnradio2">Load</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn" for="btnradio3">Both</label>
        </div>
    
    </div>
</div>