{% extends "mover/map_base.html" %}
{% load static %}

{% block title %}
    <title>Request Mover</title>
    <style>
        .mover-request-list p {
            line-height: 0.5em;
            font-size: 14px;
        }
        div.driver-accept-list:hover{
            background-color: #E0F0EE;
        }
    </style>
{% endblock title %}

{% block cardRight %}


<div>
    <h3>Available nearby requests</h3>
    <p class="text-small">Move items that work best for you!</p>
    <div class="row mb-4">
        <div class="col driver-accept-list py-2">
            <div class="d-flex flex-row gap-2">
                <div class="d-flex flex-row gap-2">
                    <div>
                        <img src="{% static 'images/hotel1.jpg' %}" alt="" width="174px" height="106px" 
                        class="rounded">
                    </div>
                    <div class="mover-request-list">
                        <p><b>3-5 items</b></p>
                        <p style="color: #104333;" class="text-uppercase fw-bold">Loading and unloading</p>
                        <p><b style="color: #4A4A68;">Pick-up location:</b> 4 min away</p>
                        <p><b style="color: #4A4A68;">Est. driving distance:</b> 20 min</p>
                        <p>Note: Items will be in a box</p>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <p class="mb-2">$25.00</p>
                    <button class="">Accept</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col driver-accept-list py-2">
            <div class="d-flex flex-row gap-2">
                <div class="d-flex flex-row gap-2">
                    <div>
                        <img src="{% static 'images/hotel1.jpg' %}" alt="" width="174px" height="106px" 
                        class="rounded">
                    </div>
                    <div class="mover-request-list">
                        <p><b>3-5 items</b></p>
                        <p style="color: #104333;" class="text-uppercase fw-bold">Loading and unloading</p>
                        <p><b style="color: #4A4A68;">Pick-up location:</b> 4 min away</p>
                        <p><b style="color: #4A4A68;">Est. driving distance:</b> 20 min</p>
                        <p>Note: Items will be in a box</p>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <p class="mb-2">$25.00</p>
                    <button>Accept</button>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock cardRight %}