{% extends "mover/index.html" %}
{% load static %}
{% block title %}
<title>Vehicle Information</title>
{% endblock title %}

{% block content %}

<div style="margin: 100px;" class="driver-onboarding-panel d-flex flex-lg-row flex-sm-column gap-4">
    <div class="driver-onboard-left">
        <div class="progress mb-4">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 80%; background-color: #104333;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                80%</div>
        </div>
        <p>Step 1: Create account</p>
        <p><a href="{% url 'document_verification' %}"
                class="text-decoration-none text-dark mover-onboarding-links">Step 2. Document Verification</a>
        </p>
        <p class="fw-bold"><a href="{% url 'vehicle_information' %}"
                class="text-decoration-none text-dark mover-onboarding-links">Step 3. Vehicle Information </a>
        </p>
        <p><a href="{% url 'application_status' %}" class="text-decoration-none text-dark mover-onboarding-links">Step
                4. Application Status </a>
        </p>
    </div>
    <form class="driver-onboard-right d-flex flex-column gap-4" method="POST" enctype="multipart/form-data"
        action="{% url 'vehicle_information' %}">
        {% csrf_token %}
        <h3>Step 3: Vehicle Information</h3>
        {{ form.errors }}
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">License Plate #</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="License Plate #"> -->
                    {{ form.license_plate }}
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column dropdown-container">
                    <!-- {{ form.year }} -->
                    <label for="id_year">Year</label>
                    <input type="number" name="year" id="id_year" required list="year_list" max="2023">
                    <datalist id="year_list">
                        <!-- Generate options for years from 2000 to 2023 -->
                        {% for year in year_list %}
                        <option value="{{ year }}">
                            {% endfor %}
                    </datalist>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Make</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="Email Address"> -->
                    {{ form.make }}
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Model</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="Phone Number"> -->
                    {{ form.model }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Interior Vehicle Photo</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="Email Address"> -->
                    {{ form.interior_vehicle_photo }}
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Front Exterior Vehicle Photo</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="Phone Number"> -->
                    {{ form.exterior_front_vehicle_photo }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Back Exterior Vehicle Photo</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="Phone Number"> -->
                    {{ form.exterior_back_vehicle_photo }}
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Side Exterior Vehicle Photo</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="Phone Number"> -->
                    {{ form.exterior_side_vehicle_photo }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column">
                    <label for="">Vehicle Insurance</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="Phone Number"> -->
                    {{ form.vehicle_insurance }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100">Submit For Verification</button>
            </div>
        </div>
    </form>

</div>

{% endblock content %}

{% block style %}
<!-- <style>
    /* Style the dropdown container */
    .dropdown-container {
        position: relative;
        display: inline-block;
    }

    /* Style the input field */
    input[type="number"] {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    /* Style the datalist */
    datalist {
        position: absolute;
        z-index: 1;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    /* Style the options within the datalist */
    datalist option {
        padding: 8px;
    }
</style> -->
{% endblock style %}